body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #000;
  color: #FFF;
}

div.square {
  width: 80px;
  height: 80px;
  background-color: #333;
  display: inline-block;
  margin: 3px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

div.square.lit {
  background-color: #FFF;
  transition: none;
}

div.square.selecting {
  animation: pulse linear 1s infinite;
}
div.square.selecting:hover {
  background-color: orangered;
  animation: none;
}

.board {
	width: 720px;
	float: left;
}
.info {
	float: left;
	width: calc(100% - 720px);
}
.pointer {
  cursor: pointer;
}

@keyframes pulse {
	0% { background-color:#999; }
	50% { background-color: #333; }
	100% { background-color:#999; }
}